@using System.Web.Mvc.Html
@using System.Web.Optimization
@model WebApi.DocumentationController.ViewModels.ApiExplorerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/scripts/documentation.js")
}

<header>
    <div class="content-wrapper">       
        <div class="float-left">
            <p class="site-title"><a href="/">@Model.CurrentAssembly.GetName().Name - @ViewBag.Header</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
    <div class="content-wrapper">
        <nav>
            <ul id="menu" class="clear-fix">
                <li>@Html.ActionLink("Start", "Index")</li>
                @foreach (var controller in Model.ApiControllerDescriptions.GroupBy(x => x.Name).OrderBy(x => x.Key))
                {
                    <li>@Html.ActionLink(controller.Key, "Details", new { id = controller.Key })</li>
                }
                <li>@Html.ActionLink("Model Diagram", "ModelDiagram")</li> 
            </ul>
        </nav>
    </div>
</section>
    @RenderBody()
</div>