@using System.Web.Http.Description
@using System.Web.Mvc.Html
@model WebApi.DocumentationController.ViewModels.ApiExplorerDetailsViewModel

@{
    ViewBag.Title = Model.ApiControllerDescription.Name;
    ViewBag.Header = Model.ApiControllerDescription.Name;
    Layout = "~/Views/Help/_HelpLayout.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <h1>@Model.ApiControllerDescription.Name</h1>

    <div class="actions">
        @foreach (var action in Model.ApiControllerDescription.Actions)
        {
            <header>
                <table class="routes">
                    @foreach (var route in action.Routes)
                    {
                        <tr>
                            <td>@route.Method</td><td>@route.Path.ToLower()</td>
                        </tr>
                    }
                </table>
                <p>@action.Summary.Replace(Environment.NewLine, "<br/>")</p>
            </header>
            <div class="action">
                @if (!string.IsNullOrEmpty(action.Example) || !string.IsNullOrEmpty(action.Remarks) || !string.IsNullOrEmpty(action.Returns)) 
                {
                    <table>
                        @if (!string.IsNullOrEmpty(action.Example)) 
                        {
                            <tr><td>Example:</td><td>@action.Example.Replace(Environment.NewLine, "<br/>")</td></tr>
                        }
                        @if (!string.IsNullOrEmpty(action.Remarks))
                        {
                            <tr><td>Remarks:</td><td>@action.Remarks.Replace(Environment.NewLine, "<br/>")</td></tr>
                        }
                        @if (!string.IsNullOrEmpty(action.Returns))
                        {
                            <tr><td>Returns:</td><td>@action.Returns.Replace(Environment.NewLine, "<br/>")</td></tr>
                        }
                    </table>
                }
                
                @if (action.ParameterDescriptions.Any())
                {
                    <h5>Parameters:</h5>
                    <table class="parameters">
                        @foreach (var parameter in action.ParameterDescriptions.Where(x => x.Source == ApiParameterSource.FromUri))
                        {
                            <tr>
                                <td>@parameter.Name</td><td>@parameter.Documentation</td><td>(URI)</td>
                            </tr>
                        }
                        @foreach (var parameter in action.ParameterDescriptions.Where(x => x.Source == ApiParameterSource.FromBody))
                        {
                            <tr>
                                <td>@parameter.Name</td><td>@parameter.Documentation</td><td>(Body)</td>
                            </tr>
                        }
                    </table>
                }
                
                <h5>Sample request:</h5>
                <div class="sampleRequests">
                    @if (action.SampleRequests.Any())
                    {
                        <ul>
                            @foreach (var sample in action.SampleRequests)
                            {
                                <li><a href="#@string.Format("{0}_{1}", action.Name, sample.MediaType.Replace("/", "_"))">@sample.MediaType</a></li>
                            }
                        </ul>
                        foreach (var sample in action.SampleRequests)
                        {
                            <div id="@string.Format("{0}_{1}", action.Name, sample.MediaType.Replace("/", "_"))" class="ui-tabs-panel"><pre>@Html.DisplayFor(s => sample.Sample)</pre></div>
                        }
                    }
                    else
                    {
                        <pre>No sample request defined.</pre>
                    }
                </div>
                
                <h5>Sample response:</h5>
                <div class="sampleResponses">
                    @if (action.SampleResponses.Any())
                    {
                        <ul>
                            @foreach (var sample in action.SampleResponses)
                            {
                                <li><a href="#@string.Format("{0}_{1}", action.Name, sample.MediaType.Replace("/", "_"))">@sample.MediaType</a></li>
                            }
                        </ul>
                        foreach (var sample in action.SampleResponses)
                        {
                            <div id="@string.Format("{0}_{1}", action.Name, sample.MediaType.Replace("/", "_"))" class="ui-tabs-panel"><pre>@Html.DisplayFor(s => sample.Sample)</pre></div>
                        }
                    }
                    else
                    {
                        <pre>No sample response defined.</pre>
                    }
                </div>
            </div>
        }
    </div>
</section>