@model VersioningTestApp.Models.DocumentationModel

<h1>Documentation</h1>
<hr />
<ul>
@foreach (var version in Model.Explorer.ApiDescriptions.GroupBy(a => a.ActionDescriptor.ControllerDescriptor.ControllerType.Namespace))
{
    <li>
        <h3>@version.Key.Split('.').Last()</h3>
        <ul>
        @foreach (var api in version)
        {
            <li>
                (@api.HttpMethod) @api.RelativePath <br />
                <ul>
                    <li><em>@api.Documentation</em></li>
                    @if(api.ActionDescriptor.ReturnType != null)
                    {
                        <li><em>returns</em> @api.ActionDescriptor.ReturnType.ToString()</li>
                    }
                </ul>
            </li> 
        }
        </ul>
    </li>    
}
</ul>